.status-bar-item.plugin-obsidian-kindle-highlights-plugin svg path {
  --kindle-hightlight-toolbar-fill: currentColor;
  --kindle-highlight-toolbar-display: none;
  fill: var(--kindle-hightlight-toolbar-fill);
}
